@model Student 

@{
	ViewBag.Title = $"{ViewBag.Operation} Student";
	
}

<h1 class="display-4">@ViewBag.Operation Student</h1>

<form asp-action="Add" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="container-fluid">
		<div class="row ">
			<div class="col-sm">
				<label asp-for="FirstName" class="form-label"></label>
				<input asp-for="FirstName" class="form-control" />
			</div>
			<div class="col-sm">
				<label asp-for="LastName" class="form-label"></label>
				<input asp-for="LastName" class="form-control" />
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row ">
			<div class="col-sm">
				<label asp-for="Birthday" class="form-label"></label>
				<input asp-for="Birthday" class="form-control" />
			</div>
			<div class="col-sm">
				<label asp-for="Cellphone" class="form-label"></label>
				<input asp-for="Cellphone" class="form-control" />
			</div>
		</div>
	</div>
	<div class="mb-3">
		<label asp-for="Address" class="form-label"></label>
		<input asp-for="Address" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="Email" class="form-label"></label>
		<input asp-for="Email" class="form-control"/>
	</div>
	<div class="mb-3">
		
		<label asp-for="GuardianName" class="form-label"></label>
		<input asp-for="GuardianName" class="form-control" />
	</div>
	<div class="container-fluid">
		<div class="row ">
			<div class="col-sm">
				<label asp-for="No_ext" class="form-label"></label>
				<input asp-for="No_ext" class="form-control" />
			</div>
			<div class="col-sm">
				<label asp-for="No_int" class="form-label"></label>
				<input asp-for="No_int" class="form-control" />
			</div>
		</div>
	</div>
	<div class="mb-3">
		<label asp-for="HealthNotes" class="form-label"></label>
		<input asp-for="HealthNotes" class="form-control" />
	</div>
	<div class="container-fluid">
		<div class="row ">
			<div class="col-sm">
				<label asp-for="Start_studying_at" class="form-label"></label>
				<input asp-for="Start_studying_at" class="form-control" />
			</div>
			
		</div>
	</div>
	<div class="container-fluid">
		<h1 class="display-5">Inscribir a una clase </h1>
		@if (ViewBag.CourseList.Count != 0)
		{
			@foreach (Course course in ViewBag.CourseList)
			{
				<input type="checkbox"  class="form-check-input" id="@course.CourseId" name="courseEnrollement" value="@course.CourseId" />
				<label class="form-check-label" for="@course.Name">@course.Name</label>
			}
		} 
		else
		{
			<p>Cree una clase primero</p>
		}
	</div>
	
	<button type="submit" class="btn btn-dark" >Guardar</button>
	<a asp-action="Index" asp-controller="Student" class="btn btn-outline-dark">Cancelar</a>
</form>