@using JazzClub.Models.Helpers
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<Student>

@{
	ViewBag.Title = "Students";
}

 

<div class="text-center">
	<h1 class="display-4">Estudiantes</h1>
</div>

@if (SignInManager.IsSignedIn(User))
{

	<a asp-action="Add">Agregar estudiante</a>
	<a>Agregar pago</a>
	<a>Inscribir a clase</a>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Pagos</th>
				<th>Clases inscritas</th>
				<th>Contacto</th>
				<th>Estus de pago</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (Student student in Model)
			{
				<tr>
					<td>@student.FullName</td>
					<td>
						@{
							if (student.LastPayment == null)
							{
								<p>No hay pagos registrados</p>
								<a asp-action="AddPayment"
								   asp-controller="Student"
								   asp-route-id="@student.Id"
								   class="btn btn-outline-dark">Agregar pago</a>
							}
							else
							{

								<p>Ultimo pago:</p>
								<ul>
									<li>Total: @student.LastPayment.Total</li>
									<li>Fecha de pago: @student.LastPayment.PaymentDate.ToString("dd/MM/yyyy")</li>
									<li>Expide en: @student.LastPayment.PaymentExpirationDate.ToString("dd/MM/yyyy")</li>
								</ul>
							}
						}
					</td>
					<td>
						
						@if (student.Courses.Count != 0)
						{
							<ul>
								@foreach (Course a in student.Courses)
								{
									<li>@a.Name</li>
								}
							</ul>
						}
						else
						{
							<p>Sin clases inscritas</p>
						}

					</td>
					<td>
						<ul>
							<li hidden="@(student.GuardianName == null ? true : false)"><p>@student.GuardianName</p></li>
							<li hidden="@(student.Cellphone == null ? true : false)">@student.Cellphone</li>
							<li hidden="@(student.Email == null ? true : false)">@student.Email</li>
						</ul>
					</td>
					<td>
						
						@{
							if (student.LastPayment == null)
							{
								<p>No hay pagos registrados</p>
							} else

							{
								DateTime lastoPayment = student.LastPayment.PaymentExpirationDate;
								DateTime hoy = DateTime.Now;
								TimeSpan daysUntilNextPay = lastoPayment - hoy;
								int daysToPayment = daysUntilNextPay.Days;
			
								if (hoy <= lastoPayment)
								{
									// color rojo
									if (daysToPayment < 5)
									{
										<p style="color:@StatusHelper.ChooseColor(2)">Dias para pagar: @daysToPayment</p>
									} else
									{
										<p style="color:@StatusHelper.ChooseColor(0)">Dias para pagar: @daysToPayment </p>
									}
								} else
								{
									<p style="color:@StatusHelper.ChooseColor(1)">Pago expirado. Dias desde el último pago: @daysToPayment</p>
								}

							}
							}

					</td>
					<td>
						<a asp-action="Edit" asp-controller="Student" asp-route-id="@student.Id" class="btn btn-outline-dark">
							Editar
						</a>
						<a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-outline-dark">
							Delete
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
} else
{
	<p>Please, log in first</p>
}

 